Write a program to reverse a string.

In [ ]:
string=input("Enter the string to reverse:")
print(string[::-1])

Enter the string to reverse:Aditya
aytidA

Check if a string is a palindrome.

In [ ]:
string=input("Enter the string:")
l=[]
def palindrom(str):
  for i in range(len(str)):
    if i<=len(str)//2:
      if str[i]!=str[(len(str)-1)-i]:
        break
      else:
        l.append(True)
    else:
      break
  if (len(str)//2)+1==len(l):
    return("The string is palindrome")
  else:
    return("The string is not palindrome")
palindrom(string)

Enter the string:abcba

'The string is palindrome'

Convert a string to uppercase.

In [ ]:
string =input("Enter the string:")
print(string.upper())

Enter the string:AdItya
ADITYA

Convert a string to lowercase.

In [ ]:
string =input("Enter the string:")
print(string.lower())

Enter the string:ADItya
aditya

Count the number of vowels in a string.

In [ ]:
string=input("Enter the string:")
def count(str):
  c=0
  for i in str:
    if i in 'aeiouAEIOU':
      c=c+1
  return(print("Number of vowels in a string is:",c))
count(string)

Enter the string:Aditya
Number of vowels in a string is: 3

Count the number of consonants in a string.

In [ ]:
string=input("Enter the string:")
def consonant(str):
  c=0
  for i in str:
    if i not in 'aeiouAEIOU':
      c=c+1
  return(print("Number of consonant in a string is:",c))
consonant(string)

Enter the string:adiittyya
Number of consonant in a string is: 5

Remove all whitespaces from a string.

In [ ]:
string=input("Enter the string:")
#def remove_space(str):
  #return string.replace(" ","")
#print(remove_space(string))
def remove(str):
  return "".join(string.split())
print(remove(string))

Enter the string:aditya singh
adityasingh

Find the length of a string without using the `len()` function.

In [ ]:
s=input("Enter the string:")
c=0
for i in s:
  c=c+1
print("The length of the string is:",c)

Enter the string:Sanatan Dharma
The length of the string is: 14

Check if a string contains a specific word.

In [ ]:
s=input("Enter the string:")
substring=input("Enter the string to search:")
if substring in s:
  print("The word is present in the string")
else:
  print("Word not present")

Enter the string:Check if a string contains a specific word
Enter the string to search:string
The word is present in the string

Replace a word in a string with another word.

In [ ]:
s=input("Enter the string:")
r=input("enter the word to be replace:")
a=input("enter the word to replace with:")

replaced_s=s.replace(r,a)
print(replaced_s)

Enter the string:sanatan dharma is the way of life
enter the word to be replace:sanatan
enter the word to replace with:hindu
hindu dharma is the way of life

Count the occurrences of a word in a string.

In [ ]:
s=input("Enter the string:")
print(s.count(input("Enter the word to count:")))

Enter the string:is is is my name my
Enter the word to count:is
3

Find the first occurrence of a word in a string.

In [ ]:
s=input("Enter the string:")
print(s.index(input("enter the word")))

Enter the string:my name is aditya singh
enter the wordis
8

Find the last occurrence of a word in a string.

In [ ]:
s=input("Enter the string:")
print(str(s.rfind(input("Enter the word"))))

Enter the string:aditya is a good boy
Enter the wordgood
12

Split a string into a list of words.

In [ ]:
s=input("Enter the string:")
print(list(s.split()))

Enter the string:aditya is a beast
['aditya', 'is', 'a', 'beast']

Join a list of words into a string.

In [ ]:
s=list(map(str,input().split()))
print("".join(s))

aditya singh is a good boy
adityasinghisagoodboy

Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
s=input("Enter the string:")
print(s.replace(" ","_"))

Enter the string:aditya singh rajput
aditya_singh_rajput

Check if a string starts with a specific word or phrase.

In [ ]:
s=input("Enter the string: ")
word=input("Enter the word to check: ")
if s.startswith(word)==True:
  print("The string starts with",word)
else:
  print("The string do not start with",word)

Enter the string: aditya
Enter the word to check: d
The string do not start with d

Check if a string ends with a specific word or phrase.

In [ ]:
s=input("Enter the string: ")
word=input("Enter the word to check: ")
if s.endswith(word)==True:
  print("The string starts with",word)
else:
  print("The string do not start with",word)

Enter the string: abcdef
Enter the word to check: f
The string starts with f

Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
s=input("Enter the string: ")
print(s.title())

Enter the string: aditya singh
Aditya Singh

Find the longest word in a string.

In [ ]:
s=input("Enter the string: ")
l={}
for i in s.split():
  l[i]=len(i)
for i in l.keys():
  if l[i]==max(l.values()):
    print(i,"is the longest word in the string")

Enter the string: aditya singh the great
aditya is the longest word in the string

Find the shortest word in a string.

In [ ]:
s=input("Enter the string: ")
l={}
for i in s.split():
  l[i]=len(i)
for i in l.keys():
  if l[i]==min(l.values()):
    print(i,"is the shortest word in the string")

Enter the string: aditya singh the great
the is the shortest word in the string

Reverse the order of words in a string.

In [ ]:
s=input("Enter the string: ")
print(" ".join(list(reversed(s.split()))))

Enter the string: aditya singh is a beast
beast a is singh aditya

Check if a string is alphanumeric.

In [ ]:
s=input("Enter the string: ")
if s.isalnum():
  print(s,": is alphanumeric")
else:
  print(s,": is not alphanumeric")

Enter the string: 123@erds
123@erds : is not alphanumeric

In [ ]:
s=input("Enter the string: ")
for i in s:
  if i.isdigit():
    print(i,end="")

Enter the string: 123aditya23singh
12323

Extract all alphabets from a string.

In [ ]:
s=input("Enter the string: ")
for i in s:
  if i.isalpha():
    print(i,end="")

Enter the string: aditya@123
aditya

Count the number of uppercase letters in a string.

In [ ]:
s=input("Enter the string: ")
c=0
for i in s:
  if i.isupper():
    c=c+1
print("String has",c,"uppercase")

Enter the string: AdityASingh
String has 3 uppercase

Count the number of lowercase letters in a string.

In [ ]:
s=input("Enter the string: ")
c=0
for i in s:
  if i.islower():
    c=c+1
print("String has",c,"lowercase")

Enter the string: adityaSINGH
String has 6 lowercase

Swap the case of each character in a string.

In [ ]:
s=input("Enter the string: ")
x=""
for i in s:
  if i.isupper():
    x+=i.lower()
  else:
    x+=i.upper()
print(x)

Enter the string: ADITYAsingh
adityaSINGH

Remove a specific word from a string.

In [ ]:
s=input("Enter the string:")
word=input("Enter the word to be romoved:")
if word in s:
  print(s.replace(word,""))
else:
  print("Word not present in the string")

Enter the string:Aditya singh
Enter the word to be romoved:i
Adtya sngh

Check if a string is a valid email address.

In [ ]:
!pip install email_validator

Collecting email_validator
  Downloading email_validator-2.0.0.post2-py3-none-any.whl (31 kB)
Collecting dnspython>=2.0.0 (from email_validator)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 7.9 MB/s eta 0:00:00
Requirement already satisfied: idna>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from email_validator) (3.4)
Installing collected packages: dnspython, email_validator
Successfully installed dnspython-2.4.2 email_validator-2.0.0.post2

In [ ]:
from email_validator import validate_email, EmailNotValidError

def check(email):
	try:
		v = validate_email(email)

		email = v["email"]
		print("True")
	except EmailNotValidError as e:
		print(str(e))

check("my.ownsite@our-earth.org")

check("ankitrai326.com")

True
The email address is not valid. It must have exactly one @-sign.

<ipython-input-11-084c1d3fa198>:7: DeprecationWarning: dict-like access to the return value of validate_email is deprecated and may not be supported in the future.
  email = v["email"]

Extract the username from an email address string.

In [ ]:
email=input("Enter the email:")
l=list(email.split("@"))
print("Username is:",l[0])

Enter the email:adityanu04ss@gmail.com
Username is: adityanu04ss

Extract the domain name from an email address string.

In [ ]:
email=input("Enter the email:")
l=list(email.split("@"))
print("Username is:",l[1])

Enter the email:adityaanu04ss@gmail.com
Username is: gmail.com

Replace multiple spaces in a string with a single space.

In [ ]:
import re

my_str = input("Enter the string:")

result = re.sub(r'\s+', ' ', my_str)
print(repr(result))

Enter the string:aditya   singh  is a godd
'aditya singh is a godd'

Check if a string is a valid URL.

In [ ]:
!pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0

In [ ]:
import validators
valid=validators.url(input("enter the url:"))
if valid==True:
    print("Url is valid")
else:
    print("Invalid url")

enter the url:https://colab.research.google.com/drive/1NAn3PHhDgnU6nS_ts9_0bMYHcH0DundE#scrollTo=DeguLT_vTeCR
Url is valid

Extract the protocol (http or https) from a URL string.

In [ ]:
s=input("Enter the url:")
l=list(s.split("/"))
print(l[0])

Enter the url:https://colab.research.google.com/drive/1NAn3PHhDgnU6nS_ts9_0bMYHcH
https:

Find the frequency of each character in a string.

In [ ]:
s=input("Enter the string:")
l=list(s)
m={}
for i in set(l):
  m[i]=l.count(i)
print(m.items())

Enter the string:aditya singh is a good boy
dict_items([('a', 3), ('i', 3), ('h', 1), ('o', 3), ('b', 1), ('y', 2), (' ', 5), ('t', 1), ('g', 2), ('s', 2), ('n', 1), ('d', 2)])

Remove all punctuation from a string.

In [ ]:
import string
s=input("Enter the string:")
for i in s:
  if i in string.punctuation:
    s=s.replace(i,"")
print(s)

Enter the string:aditya@%singh
adityasingh

Check if a string contains only digits.

In [ ]:
s=input("Enter the string:")
if s.isdigit():
  print("True")
else:
  print("False")

Enter the string:567
True

Check if a string contains only alphabets.

In [ ]:
s=input("Enter the string:")
if s.isalpha():
  print("True")
else:
  print("False")

Enter the string:asdf
True

Convert a string to a list of characters.

In [ ]:
s=input("Enter the string:")
print(list(s))

Enter the string:aditya singh
['a', 'd', 'i', 't', 'y', 'a', ' ', 's', 'i', 'n', 'g', 'h']

Check if two strings are anagrams.

In [ ]:
s1=input("String1:")
s2=input("String2:")
if len(s1)==len(s2) and sorted(s1)==sorted(s2):
  print("Strings are anagram")
else:
  print("Strings are not anagram")

String1:acccb
String2:abbcc
Strings are not anagram

Encode a string using a Caesar cipher.

In [1]:
s=input("Entrr the string:")
shift=int(input("Enter the number of shift:"))
result=""

for i in range(len(s)):
  char=s[i]

  if (char.isupper()):
    if ord(char)+shift>90:
      ascii=((ord(char)+shift)-90)+64
      result+=chr(ascii)

    else:
      ascii=ord(char)+shift
      result+=chr(ascii)

  else:
    if ord(char)+shift>122:
      ascii=((ord(char)+shift)-122)+96
      result+=chr(ascii)

    else:
      ascii=ord(char)+shift
      result+=chr(ascii)

print(result)

Entrr the string:aditya
Enter the number of shift:5
finydf

Decode a Caesar cipher encoded string.

In [3]:
s = input("Enter the string to decode:")
shift = int(input("Enter the shifted value:"))
result = ""

for char in s:
    if char.isupper():
        ascii = ord(char) - shift
        if ascii < 65:
            ascii += 26
        result += chr(ascii)
    elif char.islower():
        ascii = ord(char) - shift
        if ascii < 97:
            ascii += 26
        result += chr(ascii)
    else:
        result += char

print("Decoded string is:", result)

Enter the string to decode:finydf
Enter the shifted value:5
Decoded string is: aditya

Find the most frequent word in a string.

In [5]:
s=input("Enter the string:")
m={}
for i in set(list(s)):
  m[i]=s.count(i)

for key, value in m.items():
  if value==max(list(m.values())):
    print("Most frequent word in the string is:",key)

Enter the string:aditya
Most frequent word in the string is: a

Find all unique words in a string.

In [6]:
s=input("Enter the string:")
unique=set(s.split())

print("All the unique words in the string are:", list(unique))

Enter the string:Aditya is good boy boy Aditya
All the unique words in the string are: ['Aditya', 'good', 'boy', 'is']

Count the number of syllables in a string.

In [7]:
word = input("Enter a word: ")
word = word.lower()
print(word)


syllables = 0
for i in range(len(word)) :


   if i == 0 and word[i] in "aeiouy" :
      syllables = syllables + 1


   elif word[i - 1] not in "aeiouy" :


      if i < len(word) - 1 and word[i] in "aeiouy" :
         syllables = syllables + 1


      elif i == len(word) - 1 and word[i] in "aiouy" :
         syllables = syllables + 1


if len(word) > 0 and syllables == 0 :
   syllables == 0
   syllables = 1



print("The word contains", syllables, "syllable(s)")

Enter a word: Aditya singh is a good boy
aditya singh is a good boy
The word contains 8 syllable(s)

Check if a string contains any special characters.

In [9]:
def has_special_char(s):
    for c in s:
        if not (c.isalpha() or c.isdigit() or c == ' '):
            return True
    return False

s=input("Enter the String:")
if has_special_char(s)==True:
  print("The string has special Character")
else:
  print("The string do not have special character")

Enter the String:aditya singh@##
The string has special Character

Remove the nth word from a string.

In [15]:
s=input("Enter the string:")
n=int(input("Enter the position of the word to remove:"))
result=" "
l=list(s.split())
l.pop(n-1)
result=result.join(l)

print(result)

Enter the string:Aditya singh is a bgood boy
Enter the position of the word to remove:4
Aditya singh is bgood boy

Insert a word at the nth position in a string.

In [16]:
s=input("Enter the string:")
n=int(input("Enter the position where you want to insert:"))
sub=input("Enter the word to insert")
result=" "
l=list(s.split())
l.insert(n-1,sub)
result=result.join(l)

print(result)

Enter the string:Aditya is good boy
Enter the position where you want to insert:3
Enter the word to inserta
Aditya is a good boy

Convert a CSV string to a list of lists.

In [17]:
# Example CSV string
csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago
"""


csv_lines = csv_string.strip().split('\n')
csv_data = [line.split(',') for line in csv_lines]


print(csv_data)

[['Name', 'Age', 'Location'], ['Alice', '25', 'New York'], ['Bob', '30', 'Los Angeles'], ['Charlie', '22', 'Chicago']]