Create a tuple with integers from 1 to 5

In [2]:
tuple((range(1,6)))

(1, 2, 3, 4, 5)

Access the third element of a Tuple

In [3]:
t=tuple(map(int, input().split()))
print(t[2])

1 2 3 4 5
3

Find the length of the tuple without using the len() function.

In [4]:
t=tuple(map(int, input().split()))
c=0
for i in t:
    c=c+1
    
print("Length of the tuple is:",c)

1 2 3 4 5
Length of the tuple is: 5

Count the occurence of an element in the tuple

In [5]:
t=tuple(map(int, input().split()))
e=int(input("Enter the element to count:"))
print(t.count(e))

1 2 2 3 4 5 2 5 6
Enter the element to count:2
3

Find the index of the first ocuurence of an element in a tuple

In [6]:
t=tuple(map(int, input().split()))
e=int(input("Enter the element to find its first occurence:"))

for i in range(len(t)):
    if t[i]==e:
        print(i)
        break

1 2 3 4 5 2
Enter the element to find its first occurence:2
1

Check if an element exists in a tuple

In [8]:
t=tuple(map(int, input().split()))
e=int(input("Enter the element to check:"))
c=0
for i in t:
    if e==i:
        c=c+1
        
if c==0:
    print("The number do not exists in the tuple")
else:
    print("The number exists in the tuple")

1 2 2 3 4 5 5
Enter the element to check:2
The number exists in the tuple

Convert a tuple into a list

In [1]:
t=tuple(map(int, input().split()))
print(list(t))

1 2 3 4 5
[1, 2, 3, 4, 5]

Convert a list into a tuple

In [2]:
t=list(map(int, input().split()))
print(tuple(t))

1 2 3 4 5
(1, 2, 3, 4, 5)

Unpack the elements of a tuple into variables

In [3]:
t=tuple(map(int, input().split()))
for i in range(len(t)):
    a+str(i)=t[i]
    print(a+str(i))

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3201940591.py, line 3)

Create a tuple of even numbers from 1 to 10

In [6]:
l=[i for i in range(1,11) if i%2==0]
print(tuple(l))

(2, 4, 6, 8, 10)

Create a tuple of odd numbers from 1 to 10

In [10]:
t=(i for i in range(1,11) if i%2==1)
print(tuple(t))

(1, 3, 5, 7, 9)

generator

Concatenate two tuples

In [11]:
t1=tuple(map(int, input().split()))
t2=tuple(map(int, input().split()))
print(t1+t2)

1 2 3 4
5 6 7 8
(1, 2, 3, 4, 5, 6, 7, 8)

Repeat a Tuple 3 Times

In [13]:
t1=tuple(map(int, input().split()))
print(t1*3)

1 2 3 4
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Check if tuple is empty

In [14]:
t1=tuple(map(int, input().split()))
if len(t1)==0:
    print("tuple is empty")
else:
    print("Tuple is not empty")

1 2 3 4
Tuple is not empty

Create a nested tuple

In [24]:
t=[]
for i in range(5):
    
    
    t.append(tuple(range(1,5)))
    
print(tuple(t))

((1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4))

Access the first element of a nested tuple

In [26]:
t[0]

(1, 2, 3, 4)

Create a tuple with single element

In [29]:
t=(3,)
type(t)

int

Compare Two tuple

Delete a Tuple

In [30]:
t=(1,2,3,4)
print(t)
del(t)
print(t)

(1, 2, 3, 4)

NameError: name 't' is not defined

Slice a tuple

In [31]:
t=(1,2,3,4)
for i in t:
    print(i, end=" ")

1 2 3 4

Find the maximum value ina tuple

In [32]:
t=(1,2,3,4)
print(max(t))

4

Find the minimum value in a tuple

In [33]:
t=(1,2,3,4)
print(min(t))

1

convert a string to tuple of characters

In [34]:
s=input("Enter the string:")
print(tuple(s))

Enter the string:aditya
('a', 'd', 'i', 't', 'y', 'a')

Convert a tuple of character to a string

In [35]:
t=('a', 'd', 'i', 't', 'y', 'a')
s=""
print(s.join(t))

aditya

Create a tuple from multiple datatypes

Check if two tuples are identical

In [39]:
t1=(1,2,3,4)
t2=(1,2,3,4)
if t1==t2:
    print(True)
else:
    print(False)

True

sort the elements of a tuple

In [43]:
t=(2,3,4,1,2,5)
print(sorted(t))

[1, 2, 2, 3, 4, 5]

Convert a tuple of integers to a tuple of a strings

In [44]:
t=(1,2,3,4)
l=[]
for i in t:
    l.append(str(i))
    
print(tuple(l))

('1', '2', '3', '4')

Convert a tuple of string to a tuple of a integers

In [45]:
t=('a','b','c')
l=[]
for i in t:
    l.append(ord(i))
    
print(tuple(l))

(97, 98, 99)

Merge two tuples

In [46]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

Flatten a nested tuple

In [2]:
t=((1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

Create a tuple of first 5 prime numbers

In [8]:
n=int(input("Enter the value of n:"))



def prime(n):
    for i in range(2,n//2+1):
        if n%i==0:
            return False
    return n

t=tuple(filter(prime,range(2,n+1)))
print(t)

Enter the value of n:13
(2, 3, 5, 7, 11, 13)

Check if a tuple is palindrome

In [21]:
t=tuple(map(int, input().split()))

if t==t[::-1]:
    print(True)
else:
    print(False)

1 2 2 4 3 2 2 1
False

Create a tuple of squares of numbers from 1 to 5

In [25]:
t=(x**2 for x in range(1,6))
print(tuple(t))

(1, 4, 9, 16, 25)

filter out all even numbers from a tuple

In [27]:
t=tuple(map(int,input().split()))
print(list(filter(lambda x:x%2==0,t)))

1 2 3 4 5
[2, 4]

Multiply all elements in a tuple by 2

In [29]:
t=tuple(map(int,input().split()))
print(list(map(lambda x:x*2,t)))

1 2 3 4
[2, 4, 6, 8]

Create a tuple of random numbers

In [36]:
import random
print(tuple(random.sample(range(10),4)))

(6, 0, 5, 9)

In [42]:
print(tuple(random.choices(range(10),k=4)))

(2, 7, 0, 4)

Check if tuple is sorted

In [46]:
t=tuple(map(int,input().split()))
sort=input("Enter the order you want to check: asc/dsc? ")

def checksorted(s,t):

    if s=='asc':
        for i in range(len(t)-1):
            if t[i]>t[i+1]:
                return "Tuple is not sorted"
        return "Tuple is sorted"
    elif  s=='dsc':
        
        for i in range(len(t)-1):
            if t[i]<t[i+1]:
                return "Tuple is not sorted"
        return "Tuple is sorted"

    else:
        return "invalid input"
    
checksorted(sort,t)

1 2 3 4 5
Enter the order you want to check: asc/dsc? asc

'Tuple is sorted'

Rotate a tuple to the left  by n positions

In [50]:
t=tuple(map(int,input().split()))
l=list(t)
k=int(input("Enter the value to rotate:"))
for i in range(k):
    first=l[0]
    for i in range(len(l)-1):
        l[i]=l[i+1]
        
    l[len(l)-1]=first
    
print(tuple(l))

1 2 3 4 5 6
Enter the value to rotate:4
(5, 6, 1, 2, 3, 4)

In [66]:
t=tuple(map(int,input().split()))
l=list(t)
k=int(input("Enter the value to rotate:"))
for i in range(k):
    last=l[-1]
    for i in range(len(l)-1,0,-1):
        l[i]=l[i-1]
        
    l[0]=last
    
print(tuple(l))

1 2 3 4
Enter the value to rotate:2
(3, 4, 1, 2)

Create a tuple of first 5 fibonacci number

In [68]:
l=[]
a=0
b=1
for i in range(5):
    c=a+b
    l.append(c)
    a=b
    b=c
    
print(tuple(l))

(1, 2, 3, 5, 8)

Create a tuple from user input

In [1]:
t=tuple(map(int,input().split()))
print(type(t))

1 2 3 4 5
<class 'tuple'>

Swap two elements in a tuple

In [4]:
t=tuple(map(int,input().split()))
n=int(input("Enter the number to swap:"))
n1=int(input("Enter the numberwith which you want to swap:"))

def swap(n,n1):
    if n and n1 in t:
        a=n
        l=list(t)
        l[t.index(n1)]=a
        l[t.index(n)]=n1
        
    return tuple(l)

swap(n,n1)

1 2 3 4 5
Enter the number to swap:2
Enter the numberwith which you want to swap:5

(1, 5, 3, 4, 2)

Reverse the element of a tuple

In [5]:
t=tuple(map(int,input().split()))
print(t[::-1])

1 2 3 4 5
(5, 4, 3, 2, 1)

Create a tuple of the first n powers of 2

In [6]:
l=[]
n=int(input("Enter the number upto which you want the power of 2:"))
for i in range(1,n+1):
    l.append(2**i)
    
print(tuple(l))

Enter the number upto which you want the power of 2:5
(2, 4, 8, 16, 32)

Find the longest string in a tuple of strings

In [7]:
t=tuple(map(str,input().split()))
l=0
for i in t:
    if len(i)>l:
        l=len(i)
        a=i
        
print(a)

aditya singh is a good boy
aditya

Find the shortest string in a tuple of strings

In [10]:
t=tuple(map(str,input().split()))
l=float('inf')
for i in t:
    if len(i)<l:
        l=len(i)
        a=i
        
print(a)

aditya singh is a good boy
a

In [12]:
l=[]
n=int(input("Enter the number of triangular number you want:"))

for i in range(n,0,-1):
    sum=0
    while i>0:
        sum=sum+i
        i=i-1
    l.append(sum)
    
print(tuple(l))

Enter the number of triangular number you want:5
(15, 10, 6, 3, 1)

In [21]:
t=tuple(map(int,input().split()))
t1=tuple(map(int,input().split()))
if all(i in t for i in t1):
    print("contains")
else:
    print("do not contains")

1 2 3 4 5
2 4
contains

Create a tuple of alternating 1s and 0s of length n

In [26]:
l=[]
n=int(input("Enter the length of the tuple:"))
import random
l.append(random.choice([0,1]))
for i in range(n):
    if l[-1]==1:
        l.append(0)
    else:
        l.append(1)
        
print(l)

Enter the length of the tuple:6
[1, 0, 1, 0, 1, 0, 1]